# Before you start :
   - These exercises are related to the Pivot table and correlation lessons.
   - Keep in mind that you need to use some of the functions you learned in the previous lessons.
   - All datasets are provided in the `your-code` folder of this lab.
   - Elaborate your codes and outputs as much as you can.
   - Try your best to answer the questions and complete the tasks and most importantly enjoy the process!!!

#### Import all the libraries that are necessary.

In [ ]:
# your answer here

#### Open the ` Employee.csv` file and name your dataset `employee`.

In [ ]:
# your answer here

#### What's the mean salary by department?
Hint : There are 2 ways to do it - one way is with groupby and the other way is with pivot tables. Do it both ways.

In [ ]:
# Method 1
# your answer here

#### We want now to group the data by more than one column. Use Pandas pivot table function to select the mean salary by department and title.

In [ ]:
# Method 2
# your answer here

In [ ]:
# your answer here

#### We want to display the number of years of work experience and the salary for each Title. Add Years as a column in your pivot table.
*Hint: Use Pandas doc(see References in README.md) to explore the pivot_table() arguments*

In [ ]:
# your answer here

#### We want to know the information about the mean salary and number of employees in each department and for each job title.

In [ ]:
# your answer here

#### We want to know for each department and for each job title the Salary's median, minimum, maximum and standard deviation. Comment your results.

In [ ]:
# your answer here

#### Based on your comments, fill the missing values with an appropriate value.

In [ ]:
# your answer here

#### The stake holders want to know for each department the number of employees and how much money is spend on salaries. Could you provide that information?

In [ ]:
# your answer here

#### For each Department and Title, we want to know the the total years of work experience and the mean salary.

In [ ]:
# your answer here

### Bonus

#### We now want to compute the mean salary after removing the maxima for each Department. Create the appropriate pivot table.

Hint: Write a custom function.

In [ ]:
# your answer here